@font-face {
    font-family: 'Bw-Gradual-bold';
    src: url('fonts/BwGradual-Bold.woff');
}

@font-face {
    font-family: 'BW-Gradual-regular';
    src: url('fonts/BwGradual-Regular.woff');
}

@font-face {
    font-family: 'Cera-regular';
    src: url('fonts/Cera-Regular.ttf');
}

@font-face {
    font-family:'Cera-medium';
    src: url('fonts/Cera-Medium.woff');
}


body {
    margin: 0px;
    font-family: 'Cera-regular';
    font-size: 16px;
}

header {
    padding: 25px 0px;
}

.container {
    max-width: 1440px;
    margin: auto;
}
 
.flexwraper {     /*змінити назву */
    display: flex;
    justify-content: space-between;
}
                           
.main-screen {
    width: 100%;
    background-color: #001FA8;
    position: relative;
    padding: 112px 0px 38px; 
}

.main-screen::after{
    content: '';
    position: absolute;
    top: 100%; 
    background: linear-gradient(to right bottom, #001FA8 50%, transparent calc(50% + 1px));
    width: 100%;
    height: 75px;

} 

h1 {
    width: 650px;
    margin: 0px;
    font-family: 'BW-Gradual-bold';
    font-size: 56px;
    color: white;
}

.description {
    width: 538px;
    margin-top: 32px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

.content {
    padding: 42px 0px 40px;
}

.btn {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    padding: 18px 36px 18px 36px;
    background-color: black;
    font-family: 'BW-Gradual-bold'; 
    font-size: 16px;
    line-height: 20px;
    color: white;
    cursor: pointer;
}

.main-screen-img {
    height: 411px;
    width: 538px;
}



.navbar {
    margin: 0px;
    padding: 0px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    text-decoration: underline #FF8500;
    text-underline-offset: 6px; 
}

.navbar li {
    display: inline;
    margin-right: 60px;
    font-family: 'BW-Gradual-regular';
}

.navbar li:last-child {
    margin-right: 0px;
}

.welcome-message {
    width: 100%;
    background-color: #EFF4FF;
    padding: 198px 0px 82px;
    text-align: center;
    margin: auto;
}

.welcome-message-text {
    width: 800px;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
}

.highlighted-word {
    font-size: 32px;
    font-family:'Cera-medium';
}























