@font-face {
    font-family: 'Bw-Gradual';
    src: url('fonts/BwGradual-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: 'BW-Gradual';
    src: url('fonts/BwGradual-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'BW-Gradual';
    src: url('fonts/BwGradual-Medium.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Cera';
    src: url('fonts/Cera-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Cera';
    src: url('fonts/Cera-Medium.woff');
    font-weight: 500;
}

body {
    margin: 0px;
    font-family: 'Cera';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h5 {
    font-family: 'BW-Gradual';
}

header {
    padding: 25px 0px;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.push-apart {
    display: flex;
    justify-content: space-between;
}

.main-screen {
    background-color: #001FA8;
    position: relative;
    padding: 112px 0px 38px;
    color: white;
}

.main-screen::after {
    content: '';
    position: absolute;
    top: 100%;
    background: linear-gradient(to right bottom, #001FA8 50%, transparent calc(50% + 1px));
    width: 100%;
    height: 75px;
}

h1 {
    width: 650px;
    margin: 0px;
    font-size: 56px;
    line-height: 65px;
}

.description {
    width: 538px;
    margin-top: 32px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
}

.content {
    padding: 42px 0px 40px;
}

.btn {
    display: inline-block;
    padding: 18px 36px;
    background-color: black;
    font-family: 'BW-Gradual';
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    color: white;
}

.main-screen-img {
    height: 411px;
    width: 538px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline #FF8500;
    text-underline-offset: 6px;
}

nav li {
    display: inline;
    margin-right: 60px;
    font-family: 'BW-Gradual';
}

nav li:last-child {
    margin-right: 0px;
}

.welcome-message {
    background-color: #EFF4FF;
    padding: 198px 0px 82px;
    text-align: center;
}

.welcome-message-text {
    width: 800px;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
}

.welcome-message-text span {
    font-size: 32px;
    font-family:'Cera';
    font-weight: 500;
}

.about-company {
    padding: 140px 0px 148px;
}

h2 {
    font-size: 40px;
    line-height: 100%;
    margin: 0px 0px 55px;
    position: relative;
    display: inline-block;
}

.about-company h2 {
    margin-bottom: 35px;
}

h2::before {
    content: url('images/quotation-mark.svg');
    position: absolute;
    top: 34px;
    left: -27px;
}

h2::after {
    content: url('images/quotation-mark.svg');
    position: absolute;
    transform: rotate(180deg);
    bottom: 26px;
    right: -30px;
}

.about-company p {
    width: 649px;
    margin: 0px 0px 30px;
}

.about-company p:last-child {
    margin-bottom: 0px;
}

.about-company-content {
    width: 676px;
}

.about-company-content img {
    position: absolute;
}

.people {
    background-color: #EFF4FF;
    padding: 140px 0px 223px;
}

.people img {
    display: block;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    margin-top: 0px;
}

.people h2 {
    margin-bottom: 0px;
}

.people h3 {
    margin-bottom: 50px;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
}

.person-info {
    background-color: white;
    padding: 20px;
}

.people p {
    margin: 12px 0px 0px;
}

.people-head-managment {
    margin-top: 55px;
}

.people-kyiv-office {
    margin-top: 150px;
}

.text-center {
    text-align: center;
}

.work-time {
    background-color: #001FA8;
    color:white;
    padding: 80px 0px 140px;
    position: relative;
}

.work-time::before {
    content: '';
    position: absolute;
    bottom: 100%;
    background: linear-gradient(to right top, #001FA8 50%, transparent calc(50% + 1px));
    width: 100%;
    height: 75px;
}

.work-time p {
    margin: 14px 0px 0px;
}

.work-time ul {
    list-style-type: disc;
    padding-left: 16px;
}

.columnar-text {
    display: grid;
    grid-template-columns: 298px 298px;
    grid-gap: 70px;
}

.work-time h2 {
    margin-bottom: 0px;
}

.columnar-text h3 {
    margin-top: 55px;
}

.work-time .push-apart img {
    margin-top: 18px;
}

.work-time .columnar-text h3 {
    margin-bottom: 0px;
}

.work-time-faq {
    margin-top: 150px;
}

h6 {
    font-size: 16px;
}

.work-time-leave h6 {
    margin: 14px 0px 0px;
}

.work-time-leave p {
    margin: 0px 0px 32px;
}

.work-time-leave p:last-child {
    margin-bottom: 0px;
}
